

<div class="container">
    <div class="card">
        <h1>Student Registration</h1>
        <form #myForms="ngForm"  (ngSubmit)="doRegistration(myForms.value)">
            <p>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Name</mat-label>
                <input required type="name" name="name"  [(ngModel)]="data.name" matInput placeholder="Enter here">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Email</mat-label>
                <input required type="email" name="email" [(ngModel)]="data.email" matInput placeholder="Enter here">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Mobile</mat-label>
                <input required type="name" name="mobile" [(ngModel)]="data.mobile" matInput placeholder="Enter here">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Address</mat-label>
                <input required type="name" name="address" [(ngModel)]="data.address" matInput placeholder="Enter here">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Password</mat-label>
                <input required type="text" name="password" [(ngModel)]="data.password" matInput placeholder="Enter here">
            </mat-form-field>
        </p>
        <div class="send">
            <button type="submit" mat-raised-button color="primary">Register</button>
            <button type="reset" mat-raised-button color="accent">Reset</button>
        </div>
        <p>{{data|json}}</p>
        </form>

    </div>
    
</div>