.container{
    text-align: center;
    
    
    width: 100%;
    
}

 /* .container .card{
    
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    margin-top: 10px;
   
} */
.container .card {
    text-align: center;
    margin: auto;
}
.container .card table{
    width: 50%;
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
   
}
h1{
    margin-top: 10px;
}